.Header{
  color: blue;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 5px; 
}

.btn{
  background-color: green;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px;
}

